<html>
<style>
body{
font-size: 15pt;
font-family: arial;
}
</style>
<body>
<h1>Welcome to Your Favorite Restaurants!</h1>

<p><a href = "/register">Are you a new user?</a> 



<form method="POST" action = '/admin'> 
<label>UserName:</label>
<input name="username" type="text" size="25" maxlength="30" required><br>
<label>Password:</label>
<input name="password" type="password" size="25" maxlength="30" required><br>
<p><input align="center" type="submit" value="Submit"></p>
</form>




</body>
</html>
